h3 {
    padding-left: 39px;
    font-size: 30px;
}

p { 
    padding-right: 50px;
    padding-left: 39px;
    font-size: 20px;
    
}

body {
    background-color: white;
}

img {
    max-width: 300px;
    padding-left: 39px;
    padding-top: 0;
    border: 15px;
    
    
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    max-width: 600px;
    padding-bottom: 10px;
    background-image: image(hearts)
    border-style: ;
    border-bottom-color: orange;
    border-left-color: blue;
    border-top-color: orange;
    border-right-color: blue;
}
